body {
    font-family: 'Noto Sans CJK', 'HarmonyOS Sans SC', 'PingFang SC', 'DengXian', 'MS Gothic';
    background-color: rgb(159, 214, 232);
}

.main {
    margin: 10px;
}

a:link {
    color: rgb(14, 90, 200)
}

a:hover {
    color: rgb(20, 68, 177)
}

a:active {
    color: rgb(204, 44, 102)
}

a:visited {
    color: rgb(53, 110, 166)
}
